{{#each Recipe}}
<div class="card">
    <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{id}}"
                aria-expanded="true" aria-controls="collapseOne">
                <h3>{{recipeName}}</h3>
            </button>
        </h2>
    </div>

    <div id="collapse{{id}}" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div>
                <h5>Description:</h5>
                <p>{{description}}</p>
                <h5>Instructions:</h5>
                <p>{{instructions}}</p>
                <h5>Ingredients:</h5>
                <p>{{ingredients}}</p>
                <h5>Chef Comments:</h5>
                <p>{{chefComments}}</p>
                <p>{{Rating}}</p>
                <p>{{Category}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}