{{#each Recipe}}
  <div class='row w-100'>
    <div class='col my-1'>
        <div class='card'>
            <div class='card-body'>
                <h2>{{recipeName}}</h2>
                <h4>Description</h4>
                <p>{{description}}</p>
                <h4>Instructions</h4>
                <p>{{instructions}}</p>
                <h4>Ingredients</h4>
                <p>{{ingredients}}</p>
                <h4>Chef Comments</h4>
                <p>{{chefComments}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}