{{#each User}}
        <div class='card'>
            <div class='card-body'>
                <div class="row">
                    <div class="col">
                        <h1 id='username'>{{username}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 id='first-name'>{{firstName}}</h4>
                    </div>
                    <div class="col-md-6">
                        <h4 id='last-name'>{{lastName}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="bio{{id}}">Bio:</label>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <p id='#user-bio' class="user-info my-0">{{bio}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{/each}}